@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

:root {
  font-family: "Ubuntu Mono", monospace;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5;

  margin: 0 auto;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #ffffff;
}
#root {
  max-width: 1280px;
  margin: 0 auto;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 430px;
  min-height: 100vh;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
